<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
    <li class="nav-item has-treeview  menu-{% if section=="configuration"%}open{%else%}closed{%endif%} ">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cogs"></i>
        <p>
          Configuration
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/configuration/" class="nav-link {% if active=="config-index"%} active{%endif%}">
            <i class="fas fa-cog nav-icon"></i>
            <p>My Configurations</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="/bots/botinfo" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Bot Info</p>
          </a> -->
        </li>
        <li class="nav-item">
          <a href="/configuration/tag/new" class="nav-link {% if active=="tag-new"%} active{%endif%}">
            <i class="fas fa-cog nav-icon"></i>
            <p>New Tag</p>
          </a>
        </li>

      </ul>
    </li>
  </ul>