<div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">HTMX Example</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <div class="tab-list">
        <a hx-get="/htmx/tab1" class="selected">Tab 1</a>
        <a hx-get="/htmx/tab2">Tab 2</a>
        <a hx-get="/htmx/tab3">Tab 3</a>
      </div>

      <h3>
        Search Contacts
        <span class="htmx-indicator">
          <img src="/img/bars.svg"/> Searching...
         </span>
      </h3>
      <input class="form-control" type="text"
             name="search" placeholder="Begin Typing To Search Users..."
             hx-get="/htmx/user_search"
             hx-trigger="keyup changed delay:500ms"
             hx-target="#search-results"
             hx-indicator=".htmx-indicator">

      <table class="table">
          <thead>
          <tr>
            <th>group name</th>
            <th>date</th>
            <th>group type</th>

          </tr>
          </thead>
          <tbody id="search-results">
            {% include "htmx/user_data.html" %}
          </tbody>
      </table>

      </div>
    </div>